
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.semaforo{
    background: black;
    padding: 10px;
    display: inline-block;
    margin:auto;
}
.light {
    width: 100px;
    height:100px;
    border-radius: 50%;
    background-color: blue;
}
.red {
    background: red;
}
.yellow {
    background: yellow;
}
.green{
    background: green;
}
.glow {
    box-shadow: 0 0 70px white;
}
.semaforo {
    border-radius: 25px;
    width: 119px;
    background: black;
    padding: 10px;
    display: block;
    margin: 65px auto;

}